extends ../layout.pug

block content
    h2 Editar Reserva;
    form(method="POST", action="/book/edit")
        .form-group 
            label Nombre
            input.form-control(type="text", name="nombre" value=reserva.nombre)
        .form-group 
            label Apellidos
            input.form-control(type="text", name="apellidos" value=reserva.apellidos)
        .form-group 
            label Teléfono
            input.form-control(type="text", name="telefono" value=reserva.telefono)
        .form-group 
            label Email
            input.form-control(type="text", name="email" value=reserva.email)
        .form-group 
            label Fecha
            input.form-control(type="text", name="fecha" value=reserva.fecha)
        .form-group 
            label Hora
            select.form-control(name="hora_inicio")
                option(value=reserva.hora_inicio)
                option(value="13") 13:00
                option(value="1330") 13:30
                option(value="2100") 21:00
                option(value="2130") 21:30
        .form-group 
            label Mesa
            input.form-control(type="text", name="mesa" value=reserva.mesas[0])
        .form-group 
            label Pax
            input.form-control(type="text", name="pax" value=reserva.pax)
        .form-group 
            label Notas
            input.form-control(type="text", name="notas" value=reserva.notas)
        input(type="hidden", name="reservaId", value=reserva.id)
        input.btn.btn-block.btn-danger(type="submit" value="Pedro")
        input.btn.btn-block.btn-danger(type="submit" value="Javier")
        input.btn.btn-block.btn-danger(type="submit" value="Estela") 
        
        //- hay que pasar el id del cliente que vas a modificar:
        //- input(type="hidden", name="reservaId", value=reserva.id)
        //- input.btn.btn-block.btn-warning(type="submit" value="Enviar")   
            
